
    <div class="banner2013">

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <h1 class="big" >Agile Development Day 2014</h1>
                    <h3 >Global Day Of Coderetreat</h3>
                </div>
                <div class="col-lg-4">

                    <ul class="list-inline banner-social-buttons">
                        <li><a href="https://twitter.com/agiledevday" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="logos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.pragmatists.pl"><img class="img-responsive" src="img/pragmatists.png" alt=""></a>
                        </li>
                        <li class="footer-menu-divider"></li>
                        <li>
                            <a href="http://www.sages.com.pl"><img class="img-responsive" href="#about" src="img/sgs_logo.png" alt=""></a>
                        </li>
                        <li class="footer-menu-divider"></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

	<div id="video" class="content-section-b">

		<div class="container">

			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
					<h2 class="section-heading">Agile Development Day 2014</h2>
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<p class="lead">W roku 2014 Agile Development Day odbył się w ramach Global Day of Coderetreat:</p>
					<a href="http://globalday.coderetreat.org/">
						<img class="img-responsive" src="img/gdcr.png" alt="">
					</a>

				</div>
				<div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/code/38.jpg" alt="">
				</div>
			</div>

		</div>
	</div>


	<div id="foto" class="content-section-a">

		<div class="container">

			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<h2 class="section-heading">Coderetreat</h2>
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<p class="lead">
						Światowy Dzień Coderetreat to wydarzenie podczas którego programiści doskonalą swoje umiejętności kodując
						problem <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life" target="_blank">Game of Life</a>
					</p>
					<p class="lead">
						Warszawa dołączyła do ponad 150 miast na całym świecie które tego dnia kodowały przy użyciu formatu <a href="http://coderetreat.org/" target="_blank">coderetreat</a>.
					</p>

				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/code/51.jpg" alt="">
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <img class="img-responsive" src="img/code/5.jpg" alt="">
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/code/9.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="img/code/17.jpg" alt="">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/code/24.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

