
<div class="banner2014">
	<div style="top: -80px;position: relative;">
		<a ui-sref="home"><img src="img/logo.png" style="width: 50px;margin-left: 10px;"></a>

		<div class="pull-right">
			<ul class="list-inline banner-social-buttons">
				<li class="social-buttons">
					<a href="https://twitter.com/agiledevday" target="_blank">
						<i class="fa fa-twitter fa-fw"></i>
					</a>

					<a href=" https://www.facebook.com/AgileDevelopmentDay" target="_blank">
						<i class="fa fa-facebook fa-fw"></i>
					</a>
					<a href="https://twitter.com/agiledevday" target="_blank">
						<i class="fa fa-envelope-o fa-fw"></i>
					</a>

				</li>
			</ul>
		</div>
	</div>
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-offset-4">
				<ul class="list-inline">
					<li><img src="img/Logosygnet.svg" style="width: 110px; vertical-align: super;"></li>
					<li><h1 class="big">AGILE </br>DEVELOPMENT </br>DAY 2014</h1></li>
				</ul>

            </div>

        </div>

    </div>
    <!-- /.container -->

</div>
<div class="logos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="http://www.pragmatists.pl"><img class="img-responsive" src="img/pragmatists.png" alt=""></a>

                    </li>
                    <li class="footer-menu-divider"></li>
                    <li>
                        <a href="http://www.sages.com.pl"><img class="img-responsive" href="#about" src="img/sgs_logo.png" alt=""></a>

                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>
<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Wyjątkowe szkolenie</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">W czerwcu 2014 już po raz czwarty odbył się <b>Agile Development Day</b> - wydarzenie łączące zabawę z
                    profesjonalnym treningiem.

                <p class="lead">Podczas szkolenia uczestnicy mogli nie tylko poznać i zasady i praktyki z rodziny <b>Agile</b> ale także
                    mieli okazję do praktycznego zastosowania wiedzy.</p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <iframe width="560" height="315" src="//www.youtube.com/embed/NkvmvzRHFpA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Doskonała zabawa</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">

                    Zadaniem zespołów było stworzenie fikcyjnego produktu zleconego przez klienta. Celem było ukończenie projektu w
                    duchu wartości agile dostarczając klientowi maksimum wartości.</p>


                <p class="lead">Jak wiadomo “Jedyną stałą rzeczą jest

                    zmiana” więc mieliśmy niespodziewane zwroty akcji, nieprzewidziane sytuacje

                    awaryjne i ciągle zmieniających zdanie klientów.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/2014/1(26).jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Cenne doświadczenia</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">

                    Podczas symulacji doświadczyliśmy błędów które zdarzają się także podczas realizacji

                    prawdziwych projektów. Wprowadzając do metodologii agile omówiliśmy sposoby na

                    ich uniknięcie.

                <p class="lead">Uczestnicy dowiedzieli się co to jest <b>Agile</b>, <b>Scrum</b> oraz <b>Kanban</b> i na własnej skórze

                    przekonali się jak te praktyki usprawniają prowadzenie projektów.</p>


            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/2014/1(52).jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <img class="img-responsive" src="img/2014/1(19).jpg" alt="">
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/2014/1(43).jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <img class="img-responsive" src="img/2014/1(24).jpg" alt="">
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/2014/1(8).jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
