<div class="row">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 20px;margin-bottom: 25px;color:#555555">
            Partnerzy
        </div>
    </div>
    <div class="col-lg-12">
        <ul class="list-inline">
            <li>
                <a href="https://codepot.pl"><img class="img-responsive" href="#about" src="img/partners/codepot.png" alt="" style="height:80px;"></a>
            </li>
            <li>
                <a href="http://km-legal.com.pl"><img class="img-responsive" href="#about" src="img/partners/KM.png" alt="" style="height:80px;"></a>
            </li>
        </ul>

    </div>
</div>