<div class="banner2014">
	<div style="top: -80px;position: relative;">
		<a ui-sref="home"><img src="img/logo.png" style="width: 50px;margin-left: 10px;"></a>

		<span class="big"></span>

		<div class="pull-right">
			<ul class="list-inline banner-social-buttons">
				<li class="social-buttons">
					<a href="https://twitter.com/agiledevday" target="_blank">
						<i class="fa fa-twitter fa-fw"></i>
					</a>

					<a href=" https://www.facebook.com/AgileDevelopmentDay" target="_blank">
						<i class="fa fa-facebook fa-fw"></i>
					</a>
					<a href="https://twitter.com/agiledevday" target="_blank">
						<i class="fa fa-envelope-o fa-fw"></i>
					</a>

				</li>
			</ul>
		</div>
	</div>
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4" style="text-align: center">
				<img src="img/Logo2015.svg" style="width: 370px;margin-left: 10px;">

                <p class="lead">
                <h4>Warszawa 13 czerwca 2015</h4></p>
            </div>
        </div>

    </div>

</div>


<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Wyjątkowe szkolenie</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Na warsztatach pokazaliśmy jak przejść od pomysłu do gotowego produktu: jak
                    zaplanować pracę i jak zorganizować zespół, który będzie wcielał Twój pomysł w życie.</p>
 		<p class="lead">Wykorzystaliśmy m.in. techniki takie jak: <b>Impact Mapping</b>, <b>User Story Mapping</b> i <b>Kanban</b>.</p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/2015/actual/3.JPG" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Radość z robienia tego,<br> co potrzebne i ważne</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <p class="lead">Wychodząc od wizji, wspólnie określiliśmy mierzalne cele biznesowe. Odkryliśmy najlepsze sposoby, pozwalające
                na ich realizację. Patrząc z perspektywy potrzeb potencjalnych użytkowników, zdefiniowaliśmy funkcjonalności produktu.
                Dzięki technikom wizualizacji łatwo określiliśmy priorytety i kolejność realizacji zadań.</p>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/2015/actual/2.JPG" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Perfekcyjna realizacja</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">Poprzez symulację realizacji projektu odkryliśmy co pomaga zespołowi
                    dostarczać produkt wysokiej jakości, uzyskać przewidywalność i minimalizować
                    czas dostarczania.</p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/2015/actual/4.JPG" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>






