

<div class="banner2013">
	<div style="top: -80px;position: relative;">
		<a ui-sref="home"><img src="img/logo.png" style="width: 50px;margin-left: 10px;"></a>
		<span class="big"></span>

		<div class="pull-right">
			<ul class="list-inline banner-social-buttons">
				<li class="social-buttons">
					<a href="https://twitter.com/agiledevday" target="_blank">
						<i class="fa fa-twitter fa-fw"></i>
					</a>

					<a href=" https://www.facebook.com/AgileDevelopmentDay" target="_blank">
						<i class="fa fa-facebook fa-fw"></i>
					</a>
					<a href="https://twitter.com/agiledevday" target="_blank">
						<i class="fa fa-envelope-o fa-fw"></i>
					</a>

				</li>
			</ul>
		</div>
	</div>
    <div class="container">

        <div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<ul class="list-inline">
					<li><img src="img/Logosygnet.svg" style="width: 170px; vertical-align: super;"></li>
					<h1 class="big">Agile Development Day</h1>
					<h2>Global Day of Coderetreat Warszawa</h2>
				</ul>

			</div>
            <!--<div class="col-lg-4 col-lg-offset-4">-->
				<!--<img src="img/Logosygnet.svg" style="width: 370px;margin-left: 10px;">-->
                <!--<h1 class="big">Agile Development Day</h1>-->
                <!--<h2>Global Day of Coderetreat Warszawa</h2>-->
            <!--</div>-->

        </div>

    </div>
    <!-- /.container -->

</div>

<div class="logos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="http://www.pragmatists.pl"><img class="img-responsive" src="img/pragmatists.png" alt=""></a>
                    </li>
                    <li class="footer-menu-divider"></li>
                    <li>
                        <a href="http://www.sages.com.pl"><img class="img-responsive" href="#about" src="img/sgs_logo.png" alt=""></a>
                    </li>
                    <li class="footer-menu-divider"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="foto" class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Co to jest Coderetreat?</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Coderetreat jest całodniowym wydarzeniem, którego celem jest promowanie i ćwiczenie dobrych praktyk wytwarzania i
                    projektowania oprogramowania.
                </p>

                <p class="lead">
                    Zapewnia programistom okazję do skupienia się na jakości, a oderwania się od codziennej presji i nastawienia na jak najszybsze
                    dostarczanie oprogramowania.
                </p>


            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <iframe src="//player.vimeo.com/video/18955165" width="560" height="315" frameborder="0" webkitallowfullscreen
                        mozallowfullscreen allowfullscreen></iframe>
                <p><a href="http://vimeo.com/18955165">Cleveland Code Retreat Introduction</a> from <a href="http://vimeo.com/coreyhaines">Corey
                    Haines</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                <!--<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/agiledevday" data-widget-id="514390353688813568">Tweety @agiledevday</a>-->
                <!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="560" height="315" flashvars="host=picasaweb.google.com&amp;hl=pl&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F105777945993341604320%2Falbumid%2F5964342023982869537%3Falt%3Drss%26kind%3Dphoto%26hl%3Dpl" pluginspage="http://www.macromedia.com/go/getflashplayer" />

                <p class="lead">
                    Zobacz poprzednią edycję:
                    <a ui-sref="2013" class="btn btn-default btn-lg" target="_blank">2013</a>
                </p>
            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="responsive-video">
                    <iframe src="//www.youtube.com/embed/8IrPvgJUFUM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div id="video" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Co bedziemy robić?</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Podczas 45 minutowych sesji będziemy kodować w parach, rozwiązując problem programistyczny.
                    W każdej sesji będziemy kładli nacisk na naukę innych umiejetności programistycznych.
                </p>

                <p class="lead">
                    Będzie więc okazja poćwiczyć
                    Test Driven Development, zasady projektowania obiektowego i praktyki pisania czystego kodu.
                </p>

                <p class="lead">
                    Sprawdź opis poprzedniej edycji:
                    <a href="http://pragmatists.pl/blog/2014/01/global-day-of-coderetreat-2013-co-hosted-by-pragmatists/" target="_blank">pragmatists.pl/blog</a>
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/gdcr2013.jpg" alt="">
            </div>
        </div>

    </div>
</div>


<div id="register" class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Rejestracja</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Uczestnictwo jest darmowe.
                </p>

                <p class="lead">
                    W tym roku rejestracja jest już zamknięta. Zapraszamy za rok!
                </p>

                <p class="lead">
                    <a href="http://globalday.coderetreat.org/"><img class="img-responsive" src="img/gdcr.png" alt=""></a>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/register.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<div id="localization" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Lokalizacja</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Warsztaty odbyły się:
                    <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Agile+Development+Day&dates=20141115T080000Z/20141115T160000Z&details=Agile+Development+Day+Coderetreat,+link+here:+http://http://agiledevelopmentday.pl/&location=Millenium+Plaza,+123A+Al.+Jerozolimskie+,+Warszawa&sf=true&output=xml"
                       target="_blank" rel="nofollow">
                        <h3><i class="fa fa-calendar fa-fw"></i>15 listopada 2014 (9:00-17:00)</h3>
                    </a>
                </p>
                <p class="lead">
                    w budynku Millenium Plaza, Al. Jerozolimskie 123A.</p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="img-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2444.0015248855116!2d20.9919177!3d52.22519009999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc9130009583%3A0xd1a016021f3ba1d8!2sAleje+Jerozolimskie+123A!5e0!3m2!1sen!2spl!4v1399328196180"
                            width="400" height="300" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>







