<div class="banner2014">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <h1 class="big">Agile Development Day</h1>
                <p class="lead">
                <div>Zobacze poprzednie edycje:</div>
                <a ui-sref="2014" class="btn btn-default btn-small" target="_blank">2014</a>
                <a ui-sref="2014coderetreat" class="btn btn-default btn-small" target="_blank">2014 Coderetreat</a>
                <a ui-sref="2013" class="btn btn-default btn-small" target="_blank">2013</a>
                <a ui-sref="2012" class="btn btn-default btn-small" target="_blank">2012</a>
                <a ui-sref="2011" class="btn btn-default btn-small" target="_blank">2011</a>
                </p>
            </div>
            <div class="col-lg-4">

                <ul class="list-inline banner-social-buttons">

                    <!--<li>-->
                        <!--<a ui-sref="coderetreat" class="btn btn-default btn-lg">-->
                            <!--<i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Coderetreat</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="https://twitter.com/agiledevday" target="_blank" class="btn btn-default btn-lg">
                            <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
                        </a>

                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<div class="logos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="http://www.pragmatists.pl"><img class="img-responsive" src="img/pragmatists.png" alt=""></a>

                    </li>
                    <li class="footer-menu-divider"></li>
                    <li>
                        <a href="http://www.sages.com.pl"><img class="img-responsive" href="#about" src="img/sgs_logo.png" alt=""></a>

                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>
<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Wyjątkowe szkolenie</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Pomysł i plan to nie wszystko największe wyzwanie każdego startupu to realizacja.
                    Opowiemy i pokażemy Ci jak przejśc od pomysły do realnego produktu, jak
                    zaplanować pracę i jak stworzyć środowisko pracy dla zespółu który bedzie wcielał Twój pomysł w życie.

                <p class="lead">Podczas warsztatów uczestnicy będa mogli nie tylko poznać  zasady i praktyki ale także
                    mieli okazję do praktycznego zastosowania wiedzy podczas ćwiczeń i warsztatów.</p>



            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/2015/2014_work.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Doskonała zabawa</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">

                    Zadaniem uczestników będzie praca nad wymaganiami własnego lub fikcyjnego produktu.
                    Wykożystując tchnikę <b>Impact Mapping</b> określimy wymagania które dostarczą klientowi maksimum wartości.</p>



                <p class="lead">W kolejnym kroku przeniesiemy nasze wymagania na .</p>

                <p class="lead">Eksperymentujemy z procesem dostarczania przez zespół takim jak <b>Kanban</b> i <b>Scrum</b></p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/2015/1(24).jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Cenne doświadczenia</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                   ...
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/2015/work_many.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div id="register" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Jak wziąć udział?</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <p class="lead">Zapraszamy na warsztaty dla przedsiębiorców, startupowców i wszystkich tworzących oprogramowanie, którym
                    zależy na tym aby ich produkty odpowiadały na potrzeby realnych klientów. </p>

                <p class="lead">
                    Warsztaty są całkowicie darmowe, organizowane przez firmy <a href="http://www.pragmatists.pl">Pragmatists</a> i
                    <a href="http://www.sages.com.pl">Sages.</a>
                </p>

                <!--<p class="lead">
                    <span class="network-name">Rejestracja niebawem</span>
                </p>-->

                <p class="lead">
                W trosce o jakość przedsięwzięcia jesteśmy zmuszeni ograniczyć liczbę uczestników.
                Kwalifikacja odbywa się na podstawie formularza rejestracyjnego.
                W doborze uczestników kierujemy się min. indywidualną motywacją każdego z Was.
                    <a href="http://add15.evenea.pl/index/krok-2?paid=no&gatype=registration"><button type="button" class="btn btn-default btn-sm">Zarejestruj się</button></a>
                </p>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/register.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div id="localization" class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Lokalizacja</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Warsztaty odbędą się:
                    <a
                            href="https://www.google.com/calendar/render?action=TEMPLATE&text=Agile+Development+Day&dates=20150613T070000Z/20150613T150000Z&details=Agile+Development+Day,+link+here:+http://http://agiledevelopmentday.pl/&location=Millenium+Plaza,+123A+Al.+Jerozolimskie+,+Warszawa&sf=true&output=xml"
                       target="_blank" rel="nofollow">
                        <h3><i class="fa fa-calendar fa-fw"></i>13 czerwca 2014</h3>
                    </a>
                </p>
                <p class="lead">
                    w Warszawie.</p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="img-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2444.0015248855116!2d20.9919177!3d52.22519009999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc9130009583%3A0xd1a016021f3ba1d8!2sAleje+Jerozolimskie+123A!5e0!3m2!1sen!2spl!4v1399328196180"
                            width="400" height="300" frameborder="0" style="border:0"></iframe>

                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
