<div class="banner2013">
    <div style="top: -80px;position: relative;">
        <span class="big"></span>

        <div class="pull-right">
            <ul class="list-inline banner-social-buttons">
                <li class="social-buttons">
                    <a href="https://twitter.com/agiledevday" target="_blank">
                        <i class="fa fa-twitter fa-fw"></i>
                    </a>

                    <a href=" https://www.facebook.com/AgileDevelopmentDay" target="_blank">
                        <i class="fa fa-facebook fa-fw"></i>
                    </a>
                    <a href="https://twitter.com/agiledevday" target="_blank">
                        <i class="fa fa-envelope-o fa-fw"></i>
                    </a>

                </li>
            </ul>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4" style="text-align: center">
                <img src="img/Logo2015.svg" style="width: 370px;margin-left: 10px;">

                <p class="lead">
                <h4>Warszawa 14 listopada 2015</h4>
                </p>
                <!--<p class="lead">-->
                <h1 class="coderetreat">Global Day of Coderetreat</h1>
                <!--</p>-->
            </div>
        </div>

    </div>
    <div style="position: relative;  top: 15px;">

        <div class="pull-right">
            <ul class="list-inline banner-social-buttons">
                <li class="social-buttons">
                    <a ui-sref="2015" class="last-edition" style="font-size: 14px;">2015 |</a>
                    <a ui-sref="2014" class="last-edition" style="font-size: 14px;">2014 |</a>
                    <a ui-sref="2014coderetreat" class="last-edition" style="font-size: 14px;">Coderetreat |</a>
                    <a ui-sref="2013" class="last-edition" style="font-size: 14px;">2013 |</a>
                    <a ui-sref="2012" class="last-edition" style="font-size: 14px;">2012 |</a>
                    <a ui-sref="2011" class="last-edition" style="font-size: 14px;">2011 </a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div id="video" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Global Day of Coderetreat</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">W tym roku po raz trzeci zapraszamy na Global Day of Coderetreat w Warszawie.</p>
                <a href="http://globalday.coderetreat.org/">
                    <img class="img-responsive" src="img/gdcr.png" alt="">
                </a>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/code/38.jpg" alt="">
            </div>
        </div>

    </div>
</div>


<div id="foto" class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Coderetreat</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Światowy Dzień Coderetreat to wydarzenie podczas którego programiści doskonalą swoje umiejętności
                    kodując
                    problem <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life" target="_blank">Game of
                    Life</a>
                </p>

                <p class="lead">
                    Warszawa dołączyła do ponad 150 miast na całym świecie które tego dnia kodowały przy użyciu formatu
                    <a href="http://coderetreat.org/" target="_blank">coderetreat</a>.
                </p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/code/51.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Co bedziemy robić?</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Podczas 45 minutowych sesji będziemy kodować w parach, rozwiązując problem programistyczny.
                    W każdej sesji będziemy kładli nacisk na naukę innych umiejetności programistycznych.
                </p>

                <p class="lead">
                    Będzie więc okazja poćwiczyć
                    Test Driven Development, zasady projektowania obiektowego i praktyki pisania czystego kodu.
                </p>

                <p class="lead">
                    Sprawdź poprzednie edycje:
                    <a ui-sref="2014coderetreat" target="_blank">2014</a>,
                    <a ui-sref="2013" target="_blank">2013</a>
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/code/24.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div id="location" class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Lokalizacja</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Warsztaty odbędą się:
                    <a
                            href="https://www.google.com/calendar/render?action=TEMPLATE&text=Agile+Development+Day&dates=20151114T070000Z/20151114T150000Z&details=Agile+Development+Day,+link+here:+http://http://agiledevelopmentday.pl/&location=Nowogrodzka+62c+,+Warszawa&sf=true&output=xml"
                            target="_blank" rel="nofollow">
                        <h3><i class="fa fa-calendar fa-fw"></i>14 listopada 2015</h3>
                    </a>
                </p>
                <p class="lead">
                    w Warszawie przy ul. Nowogrodzkiej 62c.</p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2443.912967537282!2d21.001219!3d52.226799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDEzJzM2LjUiTiAyMcKwMDAnMDQuNCJF!5e0!3m2!1spl!2spl!4v1430383341606"
                        width="400" height="300" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<div id="register" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Jak wziąć udział?</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <p class="lead">
                    Warsztaty są całkowicie darmowe, organizowane przez firmy <a href="http://www.pragmatists.pl">Pragmatists</a> i
                    <a href="http://www.sages.com.pl">Sages.</a>
                </p>

                <p class="lead">
                    W trosce o jakość przedsięwzięcia jesteśmy zmuszeni ograniczyć liczbę uczestników.
                    Kwalifikacja odbywa się na podstawie formularza rejestracyjnego:
                </p>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/2015/register.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div id="localization" class="content-section-b" style="padding: 0px;">

    <div class="container">

        <div class="row">
            <iframe src="https://coderetreat15.evenea.pl?out=1&source=event_iframe" width="100%" scrolling="no"
                    style="border: 0;"></iframe>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script type="text/javascript" src="https://evenea.pl/js/iframe/new/iframeResizer.min.js"></script>
            <script type="text/javascript" src="https://evenea.pl/js/iframe/new/iframeResizerInit.js"></script>

        </div>

    </div>
    <!-- /.container -->

</div>





