<div class="banner2014">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <h1 class="big">Agile Development Day</h1>
                <p class="lead">
                <h4>Warszawa 13 czerwca 2015</h4>
                <p class="lead">
                <a ui-sref="2014" class="btn btn-default btn-small" target="_blank">2014</a>
                <a ui-sref="2014coderetreat" class="btn btn-default btn-small" target="_blank">2014 Coderetreat</a>
                <a ui-sref="2013" class="btn btn-default btn-small" target="_blank">2013</a>
                <a ui-sref="2012" class="btn btn-default btn-small" target="_blank">2012</a>
                <a ui-sref="2011" class="btn btn-default btn-small" target="_blank">2011</a></p>
            </div>
            <div class="col-lg-4">

                <ul class="list-inline banner-social-buttons">

                    <!--<li>-->
                        <!--<a ui-sref="coderetreat" class="btn btn-default btn-lg">-->
                            <!--<i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Coderetreat</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="https://twitter.com/agiledevday" target="_blank" class="btn btn-default btn-lg">
                            <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
                        </a>

                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<div class="logos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="http://www.pragmatists.pl"><img class="img-responsive" src="img/pragmatists.png" alt=""></a>
                    </li>
                    <li class="footer-menu-divider"></li>
                    <li>
                        <a href="http://www.sages.com.pl"><img class="img-responsive" href="#about" src="img/sgs_logo.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="logos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 >
                    Warsztaty dla przedsiębiorców, startupowców i wszystkich tworzących oprogramowanie, którym
                    zależy na tym aby ich produkty odpowiadały na potrzeby realnych klientów.
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Wyjątkowe szkolenie</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Masz już pomysł na produkt i zebrałeś zespół?
                    Teraz czas na zrealizowanie Twojej wizji.
                    Pokażemy ci jak przejść od pomysłu do gotowego produktu: jak
                    zaplanować pracę i jak zorganizować zespół, który będzie wcielał Twój pomysł w życie.</p>
                <p class="lead">Jesteś już w zespole projektowym? Nasze warsztaty pomogą ci tworzyć software będący bliżej potrzeb
                    użytkowników.
                </p>


            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/2015/2014_work.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Radość z robienia tego,<br> co potrzebne i ważne</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <p class="lead">Wychodząc od wizji, wspólnie określimy mierzalne cele biznesowe. Odkryjemy najlepsze sposoby, pozwalające
                na ich realizację. Patrząc z perspektywy potrzeb potencjalnych użytkowników, zdefiniujemy funkcjonalności produktu.
                Dzięki technikom wizualizacji łatwo określimy priorytety i kolejność realizacji zadań.</p>
                <p class="lead">Wykorzystamy m.in. techniki takie jak: <b>Impact Mapping</b> i <b>User Story Mapping</b>.</p>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/2015/backlog.JPG" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Perfekcyjna realizacja</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">Poprzez symulację procesu realizacji projektu odkryjemy co pomaga zespołowi
                    dostarczać produkt wysokiej jakości, uzyskać przewidywalność i minimalizować
                    czas dostarczania.</p>

                <p class="lead">Naszym przewodnikiem na drodze od wymagań do bezpiecznej realizacji będzie metoda <b>Kanban</b>.</p>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/2015/1(24).jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
<div id="register" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Po szkoleniu</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <p class="lead">
                    Dla każdego uczestnika:<br>
                <ul>
                    <li>zniżka 15% na dowolne szkolenie otwarte z akredytacją Sages lub szkolenie dedykowane dla Twojego zespołu</li>
                    <li>2-godzinne konsultacje ze specjalistą Agile z firmy Pragmatists</li>
                </ul>


                </p>

                <p class="lead">
                    Dla zwycięzcy konkursu twitterowego:
                <ul>
                <li>
                    voucher na dowolne szkolenie otwarte z akredytacją Sages realizowane w Warszawie
                </li>
                </ul>

                </p>


            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/2015/26.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<div id="register" class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Jak wziąć udział?</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <p class="lead">
                    Warsztaty są całkowicie darmowe, organizowane przez firmy <a href="http://www.pragmatists.pl">Pragmatists</a> i
                    <a href="http://www.sages.com.pl">Sages.</a>
                </p>
                
                <p class="lead">
                W trosce o jakość przedsięwzięcia jesteśmy zmuszeni ograniczyć liczbę uczestników.
                Kwalifikacja odbywa się na podstawie formularza rejestracyjnego.
                </p>
                <p>
                    <a href="http://add15.evenea.pl/index/krok-2?paid=no&gatype=registration"><button type="button" class="btn btn-primary">Wypełnij formularz rejestracyjny</button></a>
                </p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/2015/register.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div id="localization" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">Lokalizacja</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">
                    Warsztaty odbędą się:
                    <a
                            href="https://www.google.com/calendar/render?action=TEMPLATE&text=Agile+Development+Day&dates=20150613T070000Z/20150613T150000Z&details=Agile+Development+Day,+link+here:+http://http://agiledevelopmentday.pl/&location=Nowogrodzka+62c+,+Warszawa&sf=true&output=xml"
                       target="_blank" rel="nofollow">
                        <h3><i class="fa fa-calendar fa-fw"></i>13 czerwca 2015</h3>
                    </a>
                </p>
                <p class="lead">
                    w Warszawie przy ul. Nowogrodzkiej 62c.</p>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <div class="img-responsive">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2443.912967537282!2d21.001219!3d52.226799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDEzJzM2LjUiTiAyMcKwMDAnMDQuNCJF!5e0!3m2!1spl!2spl!4v1430383341606" width="400" height="300" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>



